.mainFxmlClass {

}

.v-box{
    -fx-background-color: #999999;
}

.scroll-pane{
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.label{
    -fx-text-fill: white;
}

#title-label{
    -fx-font-size: 20px;
}